/*========================================================================
Sportwebsite von Alexandra Wirth und Dennis Koppenhagen
zur Bilschirmanzeige
========================================================================*/
@media screen
{
body{background-color: navy;}

/*#HeaderVorlage*/
img.Titelbild
{
position:relative;
width:1280px;
height:200px;
background:url(DennisHeader1.jpg);
float: left;
}
img.Klettererbild
{
position:absolute;

background:url(Kletterer.jpg);
float:center
}
/*eine Box*/
div
{
border-width: 1px; 
border-style: solid; 
border-color: navy;
/*margin: 10px;*/
/*background-color: white;*/

}
#BildBox
{
  background-color:navy;
  height:100px;
}
#menuFensterLinks
{
  background-color:white;
  height:90%;
  width:25%;
  float:left;
}
#FensterRechts
{
  background-color:white;
  height:90%;
  width:70%;
  float:right;
}
#ZeilenVorlage
{
 border-width: 2px; 
 border-style: solid; 
 border-color: blue;
 background-color: orange;
 height:100px;
 width:84%;
 padding: 10px;
 margin: 50px;
 float:left;
}
#Fussnote
{
  background-color:yellow;
  /*text-align:left;*/
  height:10%;
  width:100%;
  float:left;
}
table
{
 border-collapse:separate;
 float: left;
 empty-cells:hide;
}

/*Text fuer ueberschrift*/

p
{
  font-family:Arial,Helvetica,sans-serif;
  font-style: "bold";
  /*background-color: white;*/
}
.Headliner
{
  background-image:url('DennisHeader1.jpg');
  padding-left: 20px;
  font-size:100%;  
}
p.Sportarten
{
  font-size:150%;
}
p.Auswahl
{
  font-size:125%;
}

th
{
  font-family:Arial,Helvetica,sans-serif;
  font-style: "bold";
  font-size:150%;
}
td
{
  font-family:Arial,Helvetica,sans-serif;
  font-style: "bold";
  font-size:100%;
 
}
p.Fussnotentext
{
  padding-left: 20px;
  font-size:70%;
}
 
}